@import url("https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-width: 500px;
  min-height: 400px;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #104e05;
  color: white;
  font-family: "Yeon Sung", cursive;
}

.wrapper {
  padding: 30px 10px;
  border: 5px solid white;
  border-radius: 10px;
}

.wrapper span {
  font-size: 40px;
}

.input-wrap {
  display: flex;
  align-items: center;
}

input[type="number"] {
  margin: 0 20px;
  width: 180px;
  height: 50px;
  font-size: 30px;
  font-weight: bold;
}

.result-wrap {
  position: relative;
  top: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.result {
  margin-right: 20px;
  margin-left: 15px;
  border-bottom: 2px solid white;
  border-radius: 1.5px;
}

@keyframes point {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale(1.1);
  }
}
.result-pointer {
  display: flex;
  position: relative;
}

.result-pointer_desc {
  position: absolute;
  left: -35px;
  font-size: 15px !important;
  transform: rotateZ(-20deg);
}

.result-pointer_btn {
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
  transition: all 0.2s ease-in-out;
  animation: point 0.5s ease-in-out infinite;
  animation-delay: 1s;
}

.result-pointer_btn:hover {
  cursor: pointer;
  animation: none;
  text-shadow: 0px -2px 15px white;
}

.errorMessage {
  color: inherit;
  text-align: right;
  font-size: 25px;
  width: 480px;
}

.board-doodle {
  position: absolute;
  right: 10vw;
  bottom: 10vh;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  text-align: right;
  transform: rotateZ(5deg);
}

@media screen and (max-height: 450px) {
  .board-doodle {
    display: none;
  }
}
