@import url("https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #104e05;
  color: white;
  font-family: "Yeon Sung", cursive;
  --calculate-wrapper-width: 490px;
  --calculate-wrapper-height: 170px;
  overflow: hidden;
}

.arithmetic-layout {
  display: flex;
  width: 80vw;
  margin: 6vh 4vw;
  flex-wrap: wrap;
}

.arithmetic-wrapper {
  position: relative;
}

.calculate-wrapper {
  width: var(--calculate-wrapper-width);
  height: var(--calculate-wrapper-height);
  min-width: 275px;
  margin: 35px 25px;
  padding: 20px 10px;
  border: 5px solid white;
  border-radius: 10px;
}

.calculate-wrapper span {
  font-size: 40px;
}

.input-wrap {
  display: flex;
  align-items: center;
}
.input-wrap > span {
  position: relative;
  top: 10px;
}

input[type="number"] {
  margin: 0 20px;
  width: 180px;
  height: 50px;
  background-color: inherit;
  color: inherit;
  font-size: 30px;
  font-weight: bold;
  border: none;
  border-bottom: 2px solid white;
  border-radius: 1.5px;
  text-align: center;
}
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]:focus {
  outline: none;
}

.result-wrap {
  position: relative;
  top: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.result {
  margin-right: 20px;
  margin-left: 15px;
  border-bottom: 2px solid white;
  border-radius: 1.5px;
}
.result-pointer {
  display: flex;
  position: relative;
}
.result-pointer_desc {
  position: absolute;
  left: -35px;
  font-size: 15px !important;
  transform: rotateZ(-20deg);
}
@keyframes point {
  0%,
  25%,
  50%,
  100% {
    transform: none;
  }
  12.5%,
  37.5% {
    transform: scale(1.1);
  }
}
.result-pointer_btn {
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
  transition: all 0.2s ease-in-out;
  animation: point 1.5s ease-in-out infinite;
  animation-delay: 1s;
}
.result-pointer_btn:hover {
  cursor: pointer;
  animation: none;
  text-shadow: 0px -2px 15px white;
}

.errorMessage {
  position: absolute;
  top: 210px;
  left: 195px;
  color: inherit;
  font-size: 25px;
  width: 480px;
}

.board-doodle {
  position: absolute;
  right: 10vw;
  bottom: 10vh;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  text-align: right;
  transform: rotateZ(5deg);
}
@media screen and (max-height: 500px), screen and (max-width: 1350px) {
  body {
    overflow: initial;
  }
  body::-webkit-scrollbar {
    width: 8px;
    height: 0;
  }
  body::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
    height: 10px;
  }
  body::-webkit-scrollbar-button {
    display: none;
  }
  body::-webkit-scrollbar-corner {
    background-color: inherit;
  }
}
@media screen and (max-height: 600px), screen and (max-width: 780px) {
  .board-doodle {
    display: none;
  }
}
@media screen and (max-width: 490px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .arithmetic-layout {
    margin: 0;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .arithmetic-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  .calculate-wrapper {
    width: 98vw;
    height: 140px;
    margin: 10px;
    padding: 10px 5px;
  }
  .calculate-wrapper span {
    font-size: 30px;
  }
  .input-wrap {
    justify-content: center;
  }
  input[type="number"] {
    margin: 0 15px;
    width: 30vw;
    font-size: 20px;
  }
  .errorMessage {
    position: relative;
    top: initial;
    left: initial;
    font-size: 20px;
    width: 95vw;
    text-align: right;
  }
  .board-doodle {
    font-size: 18px;
  }
}
